<!--@subject MyGassi-Rechnung Nr. {{var invoice.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"https://shop.mygassi.com/skin/frontend/default/mygassi-mobile/images/MyGassiWortmarkeClaim.jpg",
"var logo_alt":"MyGassi",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var invoice.increment_id":"Invoice Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout area=\"frontend\" handle=\"sales_email_order_invoice_items\" invoice=$invoice order=$order":"Invoice Items Grid",
"var comment":"Invoice Comment"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
table,tr,td { padding: 0px; margin: 0px; border: 0px; vertical-align:top; horizontal-align: left; }
@-->

<body>

Die Email in deutscher Sprache.

<center>

<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0px; padding:0;">

<table cellspacing="0" cellpadding="0" width="650" style="background-color:#ffffff; padding:24px;">
		
	<!-- Logo // -->	
	<tr>	
               	<td align="right" valign="top">
			<a href="{{store url=""}}"><img 
					src="https://shop.mygassi.com/skin/frontend/default/mygassi-mobile/images/MyGassiWortmarkeClaim.jpg" 
					alt="MyGassi" 
					style="margin-bottom:10px;" 
					border="0"
				/></a>
		</td>
	</tr>

	<!-- Kopfzeile //-->
	<tr>
		<td>
		<table cellpadding="0" cellspacing="0">
		
		<!-- Ihre Rechnung //-->
		<tr>
			<td style="font-size:16px; font-weight:bold;" colspan="2">Rechnung Nr. {{var invoice.increment_id}}</td>
		</tr>
		
		<!-- Bestellnummer //-->
		<tr>
			<td style="font-size:12px; font-weight:bold; padding-right:12px;">Bestellnummer:</td>
			<td style="font-size:12px; font-weight:bold;">{{var order.increment_id}}</td>
		</tr>
		
		<!-- Bestelldatum //-->
		<tr>
			<td style="font-size:12px; font-weight:bold; padding-right:12px;">Bestelldatum:</td>
			<td style="font-size:12px; font-weight:bold;">{{var order.getBestelldatumForEmailTemplate()}}</td>
		</tr>
		
		<!-- Rechnungsdatum //-->
		<tr>
			<td style="font-size:12px; font-weight:bold; padding-right:12px;">Rechnungsdatum:</td>
			<td style="font-size:12px; font-weight:bold;">{{var invoice.getCreatedAtForEmailTemplate()}}</td>
		</tr>
	
		</table>
		</td>

	</tr>
        
	<!-- Nachricht //-->
	<tr>
		<td valign="top">
			<h1 style="font-size:14px; font-weight:bold; line-height:22px; margin:0 0 11px 0; margin-top:16px">Guten Tag {{htmlescape var=$order.getCustomerName()}},</h1>
			<!-- Danke //-->
			<p style="font-size:12px; line-height:16px; margin:0; padding-top:8px">
				vielen Dank für Ihre Bestellung bei {{var store.getFrontendName()}}.
				Im Anhang finden Sie Ihre Rechnung Nr. {{var invoice.increment_id}} für Ihre Bestellung Nr. {{var order.increment_id}}
				Falls Sie Fragen oder Anregungen haben, kontaktieren Sie uns bitte per E-Mail an: 
					<a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>
			</p>
			<!-- Vertrauen //-->
			<p style="font-size:12px; line-height:16px; margin:0; padding-top:16px">
               			Vielen Dank für Ihr Vertrauen! <a href="http://www.mygassi.com/">www.mygassi.com</a>
			</p>
			<!-- Couponcode //-->
			<p style="font-size:12px; line-height:16px; margin:0; padding-top:16px">
			{{var invoice.getNextCouponCodeForEmailTemplate()}}
			</p>
		</td>
	</tr>
		
	<!-- Adresszeile //-->
	<tr>
		<td style="padding-top: 12px;">
		<table cellpadding="0" cellspacing="0" style="width:100%;">
		<tr>
		<td style="align:top; vertical-align:top">
		<table cellpadding="0" cellspacing="0" style="width:300px; height:200px; padding-bottom: 12px; border-left: 1px #dbdbdb solid; border-right: 1px #dbdbdb solid; border-bottom: 1px #dbdbdb solid;">
			<tr><td style="width:50%; padding: 12px; height:50px; background-color:#666666; color:#ffffff; font-size:16px;">Empfänger</td></tr>
			<tr><td style="width:50%; padding-left: 12px; padding-top: 12px; color:#000000; font-size:12px; align:top; vertical-align:top">{{var order.getBillingAddressForEmailTemplate()}}</td></tr>
		</table>	
		</td>
		<td style="align:top; vertical-align:top">
		<table cellpadding="0" cellspacing="0" style="width:350px; height:200px; padding-bottom:12px; border-right: 1px #dbdbdb solid; border-bottom: 1px #dbdbdb solid;">
			<tr><td style="padding: 12px; height: 50px; background-color:#666666; color:#ffffff; font-size:16px;">Lieferadresse</td></tr>
			<tr><td style="padding-left: 12px; padding-top: 12px; color:#000000; font-size:12px; valign:top; vertical-align:top">{{var order.getShippingAddressForEmailTemplate()}}</td></tr>
		</table>	
		</td>
		</tr>
		</table>
		</td>
	</tr>
		
	<!-- Produktliste //-->
	<tr>
		<td style="padding-top: 12px; padding-bottom: 12px">
		<table cellpadding="0" cellspacing="0" style="width:100%">
			<tr>
				<td style="padding: 12px; height:50px; background-color:#666666; color:#ffffff; font-size:12px;">Anzahl</td>
				<td style="padding: 12px; height:50px; background-color:#666666; color:#ffffff; font-size:12px;"></td>
				<td style="padding: 12px; height:50px; background-color:#666666; color:#ffffff; font-size:12px;">Artikelbezeichnung</td>
				<td style="padding: 12px; height:50px; background-color:#666666; color:#ffffff; font-size:12px;">Stückpreis</td>
				<td style="padding: 12px; height:50px; background-color:#666666; color:#ffffff; font-size:12px;">Gesamt</td>
			</tr>
			{{var order.getProductListForEmailTemplate()}}
		</table>	
		</td>
	</tr>
	
	<!-- Rechnung //-->	
	<tr>
		<td style="padding-bottom: 36px">
		<table cellpadding="0" cellspacing="0" style="width:100%">
			<tr>
				<td colspan="3" style="align:left; valign:top; vertical-align:top; width:300px; padding-bottom: 12px;">
					Bitte &uuml;berweisen Sie die Summe binnen des Zahlungsziels auf das folgende Konto:
				</td>
			</tr>
			<tr>
				<td style="font-size:9px; padding-right: 36px; padding-bottom: 12px;">
					MyGassi GmbH<br/>
					Nymphenburgerstr. 86<br/>
					D-80636 M&uuml;nchen<br/>
					support@mygassi.com<br/>
					www.mygassi.com<br/>
				</td>
				<td style="font-size:9px; padding-right: 36px; padding-bottom: 12px;">
					Sitz der Gesellschaft ist M&uuml;nchen<br/>
					HRB 204049<br/>
					Ust-IdNr: DE288496229<br/>
					IBAN: DE60 700202700 15233881<br/>
					SWIFT (BIC): HYVEDEMMXXX<br/>
				</td>
				<td style="font-size:9px; vertical-align:top; padding-bottom: 12px;">
					Gesch&auml;ftsf&uuml;hrung: Sven Claar, Alexander Holzreiter<br/>
					Bankverbindung: Hypovereinsbank M&uuml;nchen<br/>
					KTO: 1523881<br/>
					BLZ: 70020270<br/>
				</td>

			</tr>
			<tr>
				<!-- Betrag //-->
				<td colspan="3" style="align:left; valign:top; vertical-align:top; width:350px">
					<table cellpadding="0" cellspacing="0" style="width:100%">
						<tr>
							<td colspan="2" style="width:50%; padding: 12px; background-color:#58a300; color:#ffffff; font-size:16px;">Betrag</td>
						</tr>
						{{var order.getTotalForEmailTemplate();}}
					</table>
				</td>
			</tr>
		</table>	
		</td>
	</tr>
	
	<!-- Adresszeile //-->
	<tr>
		<td>
		<table cellpadding="0" cellspacing="0">
			<tr>
				<td style="font-size:9px; padding-right: 36px">
					MyGassi GmbH<br/>
					Nymphenburgerstr. 86<br/>
					D-80636 M&uuml;nchen<br/>
					support@mygassi.com<br/>
					www.mygassi.com<br/>
				</td>
				<td style="font-size:9px; padding-right: 36px">
					Sitz der Gesellschaft ist M&uuml;nchen<br/>
					HRB 204049<br/>
					Ust-IdNr: DE288496229<br/>
					IBAN: DE60 700202700 15233881<br/>
					SWIFT (BIC): HYVEDEMMXXX<br/>
				</td>
				<td style="font-size:9px; vertical-align:top">
					Gesch&auml;ftsf&uuml;hrung: Sven Claar, Alexander Holzreiter<br/>
					Bankverbindung: Hypovereinsbank M&uuml;nchen<br/>
					KTO: 1523881<br/>
					BLZ: 70020270<br/>
				</td>
			</tr>
		</table>	
		</td>
	</tr>
</table>
</div>
</body>
