<config>
	<modules>
		<Mygassi_Pdfwriter>
			<version>0.1.0</version>
		</Mygassi_Pdfwriter>
	</modules>
	<!--
	<frontend>
		<routers>
			<order>
				<use>standard</use>
				<args>
					<module>Mygassi_Order</module>
					<frontName>order</frontName>
				</args>
			</order>
		</routers>
	</frontend>
	-->
	<!--
	<resources>
		<order_setup>
			<setup>
				<module>Mygassi_Order</module>
				<class>Mage_Eav_Model_Entity_Setup</class>
			</setup>
		</order_setup>
	</resources>
	-->
	<!--
	<global>
		<models>
			 <pdfwriter>
				<class>Mygassi_Pdfwriter_Model</class>
			</pdfwriter>
		</models>
	</global>
	<frontend>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<checkout_success>
						<type>singleton</type>
						<class>pdfwriter/observer</class>
						<method>generateInvoicePDF</method>
					</checkout_success>
				</observers>
			</checkout_onepage_controller_success_action>
		</events>
	</frontend>
	-->
</config>
