<config>
	<modules>
		<Mygassi_Order>
			<version>0.1.0</version>
		</Mygassi_Order>
	</modules>
	<frontend>
		<routers>
			<order>
				<use>standard</use>
				<args>
					<module>Mygassi_Order</module>
					<frontName>order</frontName>
				</args>
			</order>
		</routers>
	</frontend>
	<!--
	<resources>
		<order_setup>
			<setup>
				<module>Mygassi_Order</module>
				<class>Mage_Eav_Model_Entity_Setup</class>
			</setup>
		</order_setup>
	</resources>
	-->
	<global>
		<resources>
			<order_setup>
				<setup>
					<module>Mygassi_Order</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</order_setup>
			<order_write>
				<connection>
					<use>core_write</use>
				</connection>
			</order_write>
			<order_read>
				<connection>
					<use>core_read</use>
				</connection>
			</order_read>
		</resources>
	</global>
	
	<global>
		<models>
			 <order>
				<class>Mygassi_Order_Model</class>
			</order>
		</models>
	</global>
	<frontend>
		<events>
			<checkout_onepage_controller_success_action>
			<!--<sales_order_place_after>-->
				<observers>
					<checkout_success> 
						<type>singleton</type>
						<class>order/observer</class>
						<method>notifyOrderIsPlaced</method>
					</checkout_success>
				</observers>
			<!--</sales_order_place_after>-->
			</checkout_onepage_controller_success_action>
			
			<!--
			<sales_quote_merge_before>
				<observers>
					<before_merge> 
						<type>singleton</type>
						<class>order/observer</class>
						<method>notifyAtLogin</method>
					</before_merge>
				</observers>
			<sales_quote_merge_before>
			-->
			
			<load_customer_quote_before>
				<observers>
					<module_load_customer_quote_before>
						<class>order/observer</class>
						<method>clearAbandonedCarts</method>
					</module_load_customer_quote_before>
				</observers>
			</load_customer_quote_before>
		</events>
	</frontend>
</config>
