@font-face {
	font-family: "Droid Sans";
}

body 
{
	font-family: "Droid Sans", Helvetica, Verdana, Tahoma;
	font-size: 12px;
	background-color: #f3f3f3;
}

a
{
	text-decoration: none;
	color: black;
}

#checkoutSteps,
.col-right,
.product-view,
.featured_bounds,
.onepage_bounds,
.forgotten_password_bounds,
.thanks_bounds,
.cart_bounds 
{
	max-width: 834px;
	margin: auto;
}

h1,
.featured_product_title
{
	font-size: 24px;
	font-weight: bold;
}

.box-description
{
	font-size: 16px;
	line-height: 24px;
}

.featured_product_name,
.product-name
{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 16px;
}

.featured_product_description 
{
	font-size: 12px;
}

.featured_product_additional table
{
	width: 100%;
	background-color: white;	
}

.featured_product_additional table tr td
{
	text-align: center;
	border: solid 1px #ebebeb;
	border-top: none; 
	width: 50%;
	padding: 12px;
	font-size: 16px;
}

.featured_product_image
{
	background-color: white;
	text-align: center;
	border: solid 1px #ebebeb;
	padding: 12px;
}

.featured_product_image img
{
	max-width: 640px;
}

.featured_product_thumb_image
{
	width: 100px;
}

.featured_product_add_to_cart
{
}

.onepage,
.featured_product,
.featured_product_title,
.product-essential,
.product-collateral,
.block-cart,
.forgotten_password_input,
.thanks,
.cart
{
	margin: 32px;
}

#checkoutSteps,
.block-content,
.actions,
.col2-set,
.totals,
#shopping-cart-totals-table
{
	margin-bottom: 32px;
}

.std
{
	margin-bottom: 16px;
}

ul, ol, li 
{
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
}

fieldset
{
	border: none;
	margin: 0px;
	padding: 0px;
}

.cart-table
{
	padding: 0px;
	border-spacing: 0px;
}

.cart-table tr td
{
	padding: 12px;
}

.odd
{
	background-color: #ebebeb;
}

.even
{
	background-color: white;
}

.discount-form .input-box 
{
	margin-bottom: 16px;
}

.thanks p,
.sp-methods,
h2,
h3,
h4,
.col-1,
.col-2,
.col-1 h3,
#shopping-cart-totals-table
{
	font-size: 16px;
	line-height: 24px;
}

.a-right .price 
{
	text-align: right;
	display: inline-block;
	width: 100px;
}

#checkout-review-table .first,
.buttons-set .required,
.required em,
.col-2 h3,
.col-1 .ul,
.col-1 p,
.col-1 h4,
.number,
.step-title a, 
.step-title h2,
.block-progress
{
	display: none;
}

.form-list label,
.sp-methods label,
.control label
{
	font-size: 16px;
	margin-left: 12px;
}

.col2-set
{
	margin: 0px;
	padding: 0px;
}

label
{
	font-size: 10px;
}

.forgotten_password
{
	font-size: 12px;
	margin-top: 16px;
	margin-bottom: 32px;
}

.form-list li ul li,
.form-list li
{
	margin-bottom: 8px;
}

.form-list
{
	margin-bottom: 12px;
}

.error-msg ul li span,
.validation-advice
{
	color: red;
	margin-top: 4px;
	font-size: 12px;
}

select,
.validate-select,
.input-text
{
	font-size: 14px;
	width: 100%;
	padding: 12px;
}


