@font-face {
	font-family: "Droid Sans";
	src: url("");
}

body 
{
	font-family: "Droid Sans", Helvetica, Verdana, Tahoma;
	font-size: 12px;
	background-color: #f3f3f3;
}

.featured_bounds 
{
	max-width: 834px;
	margin: auto;
}

.featured_product_title
{
	font-size: 24px;
}

.featured_product_name 
{
	font-size: 16px;
	font-weight: bold;
}

.featured_product_name a
{
	text-decoration: none;
	color: black;
}

.featured_product_description 
{
	font-size: 12px;
}

.featured_product_additional table
{
	width: 100%;
	background-color: white;	
}

.featured_product_additional table tr td
{
	text-align: center;
	border: solid 1px #ebebeb;
	border-top: none; 
	width: 50%;
	padding: 12px;
	font-size: 16px;
}

.featured_product_image
{
	background-color: white;
	text-align: center;
	border: solid 1px #ebebeb;
	padding: 12px;
}

.featured_product_image img
{
	max-width: 640px;
}

.featured_product_thumb_image
{
	width: 100px;
}

.featured_product_add_to_cart
{
}

.featured_product_add_to_cart a
{
	text-decoration: none;
}

.featured_product,
.featured_product_title,
.product-essential,
.product-collateral,
.block-cart,
.cart
{
	margin: 32px;
}

.block-content,
.actions,
.col2-set,
.totals,
#shopping-cart-totals-table
{
	margin-bottom: 32px;
}

.std
{
	margin-bottom: 16px;
}

.messages,
.success-msg
{
	list-style: none;
}

.success-msg ul li 
{
	list-style: none;
}

ul, li 
{
	margin-left: 0px;
	padding-left: 0px;
}
