body 
{
	font-family: Helvetica, Arial;
	font-size: 12px;
}

.featured_product 
{
	margin-bottom: 64px;
}

.featured_product_name 
{
	font-size: 16px;
	font-weight: bold;
}

.featured_product_name a
{
	text-decoration: none;
}

.featured_product_description 
{
	font-size: 12px;
}

.featured_product_image
{
	width: 250px;
}

.featured_product_thumb_image
{
	width: 100px;
}

.featured_product_add_to_cart
{
}

.featured_product_add_to_cart a
{
	text-decoration: none;
}

.col-main,
.featured_product,
.product-essential,
.product-collateral,
.block-cart,
.cart
{
	margin: 32px;
}

.block-content,
.actions,
.col2-set,
.totals,
#shopping-cart-totals-table
{
	margin-bottom: 32px;
}

.std
{
	margin-bottom: 16px;
}

.messages, 
.success-msg
{
	list-style: none;
}

.success-msg ul li 
{
	list-style: none;
}

ul, li 
{
	margin-left: 0px;
	padding-left: 0px;
}
